<div style = "position: relative; 35%;">
<h1 style = "font-family: poppins; position: relative; left: 25%;">Please enter your ecocash number</h1>
<h2 style ="font-family: Comic Sans MS, Comic Sans, cursive; position: relative; left: 12%; font-size: 20px;"> <i>(this is the ecocash number that you would like to pay your Gonai monthly subscription with)</i></h2>

<form method="POST" style="position: relative; left: 30%;">
    <input name="text" style="height: 40px; width: 440px; "><br><br>
    <input type="submit" style="width: 120px; height: 40px; font-family: poppins; position: relative; left: 11.5%;">
</form>
</div>